
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Analysis</title>
</head>
<style>
       .btn1 {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.info {
  border-color: #2196F3;
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}
#button1{
width: 150px;
height: 150px;

}
#button2{
width: 150px;
height: 150px;
}
#button3{
width: 150px;
height: 150px;

}
#button4{
width: 150px;
height: 150px;
}

#button1 , #button2,#button3 {
display:inline-block;

}
#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
 </style>
<body>
    <div class="outter">
<div class="inner">
      <a href=""> <button type="button" class="btn1 info" id="button1" style="font-size: 20px;"><b style="color: black;">No of Vendor Registered</b></button></a>
  </div>
  <div class="inner">
      <a href="" > <button type="button" class="btn1 info"  id="button2" style="font-size: 20px;"><b style="color: black;">No of User Registered</b></button></a>
</div>
<div class="inner">
  <a href="" > <button type="button" class="btn1 info" id="button3" style="font-size: 20px;"><b style="color:black;">Users Reach per Day</b></button></a>
</div>
</div>
<div>
  <a href=""><button type="button" class="btn1 info" id="button4"  style="font-size: 20px;"><b style="color:black;">Total No. of Product</b></button></a>
</div>

</body>
</html>
  



