<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/css/swipercss.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <title>Messages</title>
    <style>
        .col-sm-8,.col-sm-2{
    background:#3383FF;
  }
    </style>
</head>
<body onload="filterSelection('1')" style="font-family:candara"></body>
<div class="row"  >
    <div class="col-sm-2">
     <img src="/images/logo.jpg" id="logo">
    </div>
    <div class="col-sm-8 pt-3">
      <a href="/"><button type="button" class="btn btn-default" id="home" style="font-size: 20px;"><b style="color: white;">HOME</b></button></a>
      <a href="/products"><button type="button" class="btn btn-default" id="home" style="font-size: 20px;"><b style="color: white;">PRODUCTS</b></button></a>
      <a href="/dashboard"><button type="button" class="btn btn-default" id="services" style="font-size: 20px;"><b style="color: white;">DASHBOARD</b></button></a>
    </div>
      <div class="col-sm-2 pt-4">
        <a href="/users/logout" class="ghost-button2" id="logout"><i class='fas fa-user-alt' style="font-size: 20px; color:white">
        </i><font style="font-size: 20px; color: white">  Logout</font></a>
        </div>
    </div>
    <div class="container body-content">
        <div class="row justify-content-start" style="padding-top:10px;">
<button class="btn btn-primary">List of messages</button>

</div>
                <div class="row justify-content-center" style="padding-top:10px;">
<p class="text-black-50">
    Messaging list
    <br />
    List 2.
    <br />
    List 3
                </div>
                <div class="row justify-content-start" style="padding-top:10px;">
<label>sample message</label>



                </div>
                <div class="row justify-content-start" style="padding-top:10px;">
<label>message status</label>



                </div>
                <div class="row justify-content-start" style="padding-top:10px;">

                <div class="col" style="padding-top:10px;">
<label>short description</label>



                </div>
                <div class="col" style="padding-top:10px;">
<button class="btn btn-primary">view message</button>


                </div>
                </div>


</div>



    </div>
   
    
</body>
</html>

