<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/css/swipercss.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <title>Messages</title>
    <style>
        .col-sm-8,.col-sm-2{
    background:#3383FF;
  }
    </style>
</head>
<body onload="filterSelection('1')" style="font-family:candara"></body>
<div class="row"  >
    <div class="col-sm-2">
     <img src="/images/logo.jpg" id="logo">
    </div>
    <div class="col-sm-8 pt-3">
      <a href="/"><button type="button" class="btn btn-default" id="home" style="font-size: 20px;"><b style="color: white;">HOME</b></button></a>
      <a href="/products"><button type="button" class="btn btn-default" id="home" style="font-size: 20px;"><b style="color: white;">PRODUCTS</b></button></a>
      <a href="/dashboard"><button type="button" class="btn btn-default" id="services" style="font-size: 20px;"><b style="color: white;">DASHBOARD</b></button></a>
    </div>
      <div class="col-sm-2 pt-4">
        <a href="/users/logout" class="ghost-button2" id="logout"><i class='fas fa-user-alt' style="font-size: 20px; color:white">
        </i><font style="font-size: 20px; color: white">  Logout</font></a>
        </div>
    </div>
  
  <div class="jumbotron" style="padding:10px;">
    <div class="container" style="padding:10px;">
      <h3 class="display-3">Message status:</h3>
      <p> Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque. Volutpat ac tincidunt vitae semper quis lectus nulla. Diam vel quam elementum pulvinar etiam non quam lacus. Pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper. Dolor magna eget est lorem ipsum dolor sit amet. Vesti</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">view full message &raquo;</a></p>
    </div>

    </div>
    <div class="jumbotron" style="padding:10px;">
      <div class="container" style="padding:10px;">
        <h3 class="display-3">Message status:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">view full message &raquo;</a></p>
      </div>
    </div>
    <div class="jumbotron" style="padding:10px;">
      <div class="container" style="padding:10px;">
        <h3 class="display-3">Message status:</h3>
        <p>Blandit libero volutpat sed cras ornare arcu dui. Aliquet bibendum enim facilisis gravida neque convallis a cras semper. Purus in massa tempor nec feugiat nisl. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. A scelerisque purus semper eget duis at tellus at. Cursus e</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">view full message &raquo;</a></p>
      </div>
    </div>


</body>
</html>
