<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/css/swipercss.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <title>Messages</title>
    <style>
        .col-sm-8,.col-sm-2{
    background:#3383FF;
  }
  .ghost-button2 {
        display: inline-block;
        width: 150px;
        padding: 8px;
        color:black;
        border: 1.5px solid black;
        text-align: center;
        outline: none;
        text-decoration: none;
      }
  #my_header{
    display:table;
    margin:auto;
  }
  #my_header_div{
    display:table-cell;
  }
  .container{
	padding: 2px;
	text-align: Justify;
	 width: 320px;
	height: 50px;
	display: inline-block;
}
.container1{
	padding: 4px;
	text-align: Justify;
	 width: 350px;
	height: 50px;
	display: inline-block;
}
.col-sm-8,.col-sm-2{
    background:#3383FF;
  }

  table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: blanchedalmond;
  color: black;
}
tr:nth-child(odd) {
background-color: rgb(191, 240, 193)
}
</style>
</head>
<body onload="filterSelection('1')" style="font-family:candara"></body>
<div class=" row"  >
    <div class="col-sm-2">
     <img src="/images/logo.jpg" id="logo">
    </div>
    <div class="col-sm-8 pt-3">
    <div class = "row">
      <div class = " ">
        <a href="/"><button type="button" class="btn btn-default" id="home" style="font-size: 20px;"><b style="color: white;">HOME</b></button></a>
      </div>
      <div class = " ">
        <a href="/dashboard"><button type="button" class="btn btn-default" id="home" style="font-size: 20px;"><b style="color: white;">DASHBOARD</b></button></a>
      </div>
      <div class = "">
        <div class="dropdown col m mt-4">
          <button class="btn btn-primary dropdown-toggle mt-2" type="button" data-toggle="dropdown">PRODUCTS
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/authproducts">Authorized</a></li>
            <li><a href="/unauthproducts">Unauthorized</a></li>
          </ul>
        </div>
      </div>

    </div>

    </div>
      <div class="col-sm-2 pt-4">
        <a href="/users/logout" class="ghost-button2" id="logout"><i class='fas fa-user-alt' style="font-size: 20px; color:white">
        </i><font style="font-size: 20px; color: white">  Logout</font></a>
          
      </div>
      
      <table>
        <tr>
          <th>Vendor Name</th>
          <th>Vendor Email</th>
          <th>Vendor Phone No.</th>
          <th>Vendor Address</th>
        </tr>
         <% vendors.forEach(vendor=>{ %>
        <tr>
               <td><a href = "/products/vendorProducts/"><%= vendor.vendorname %></a></td>
                <td><%= vendor.email %></td>
                <td><%= vendor.phone %></td>
                <td><%= vendor.address1 %></td>
              </tr> 
       <%})%>
      
      </table>

    
